# ข้าวธัญพืช

> MAY I Health You by หมอเมย์ [link](https://www.facebook.com/reel/367680789066175)

<iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F367680789066175%2F&show_text=false&width=267&t=0" width="267" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

In [7]:
import marvin
marvin.settings.openai.api_key = "sk-<your key here>"

In [8]:
from rezipe import ส่วนผสม
from rezipe.unit import *


ส = ส่วนผสม.ดังต่อไปนี้(
    "ข้าวหอมะลิแดง", 70 * กรัม,
    "ข้าวโอ็ตเต็มเมล็ด", 70 * กรัม,
    "ควินัว 3 สี", 50 * ก,
    "ข้าวบาร์เลย์", 50 * ก,
    "เลนทิล", 40 * ก,
)
ส

                name   weight  weight_pct
0      ข้าวหอมะลิแดง  70 gram       25.00
1  ข้าวโอ็ตเต็มเมล็ด  70 gram       25.00
2        ควินัว 3 สี  50 gram       17.86
3       ข้าวบาร์เลย์  50 gram       17.86
4             เลนทิล  40 gram       14.29

In [9]:
ส2 = ส.ปรับให้มีน้ําหนัก(1 * กก)
ส2

                name                        weight  weight_pct
0      ข้าวหอมะลิแดง                 0.25 kilogram       25.00
1  ข้าวโอ็ตเต็มเมล็ด                 0.25 kilogram       25.00
2        ควินัว 3 สี  0.17857142857142858 kilogram       17.86
3       ข้าวบาร์เลย์  0.17857142857142858 kilogram       17.86
4             เลนทิล  0.14285714285714285 kilogram       14.29

In [10]:
ส2.ขอน้ำหนักหน่วย(กรัม)

                name                   weight  weight_pct
0      ข้าวหอมะลิแดง               250.0 gram       25.00
1  ข้าวโอ็ตเต็มเมล็ด               250.0 gram       25.00
2        ควินัว 3 สี  178.57142857142858 gram       17.86
3       ข้าวบาร์เลย์  178.57142857142858 gram       17.86
4             เลนทิล  142.85714285714286 gram       14.29

In [11]:
ส2.ขอน้ำหนักหน่วย(ปอนด์)

                name                     weight  weight_pct
0      ข้าวหอมะลิแดง   0.5511556554621939 pound       25.00
1  ข้าวโอ็ตเต็มเมล็ด   0.5511556554621939 pound       25.00
2        ควินัว 3 สี   0.3936826110444243 pound       17.86
3       ข้าวบาร์เลย์   0.3936826110444243 pound       17.86
4             เลนทิล  0.31494608883553943 pound       14.29

In [15]:
nutrition_df = ส.get_nutrition_table()
nutrition_df

                   calories_cal crab_gram protein_gram fat_gram fiber_gram
subject
\nRed Jasmine Rice          241        52            5        1          1
Whole Grain Oats            258        49           10        5          8
Tri-color quinoa            180        30            6      2.5          3
Barley                      176      38.6          3.5      0.7        3.8
Lentils                     143        24           11      0.5         11

In [16]:
# sum all the columns with suffix `_gram` to another column
nutrition_df["total_gram"] = nutrition_df.filter(regex="_gram$").sum(axis=1)

In [17]:
nutrition_df

,calories_cal,crab_gram,protein_gram,fat_gram,fiber_gram,total_gram
subject,,,,,,
\nRed Jasmine Rice,241,52,5,1,1,59
Whole Grain Oats,258,49,10,5,8,72
Tri-color quinoa,180,30,6,2.5,3,41.5
Barley,176,38.6,3.5,0.7,3.8,46.6
Lentils,143,24,11,0.5,11,46.5